/* Color Theme Swatches in Hex */
.workout-3-1-hex {
  color: #212121;
}
.workout-3-2-hex {
  color: #363636;
}
.workout-3-3-hex {
  color: #ffc700;
}
.workout-3-4-hex {
  color: #d4d4d4;
}
.workout-3-5-hex {
  color: #ffffff;
}

/* Color Theme Swatches in RGBA */
.workout-3-1-rgba {
  color: rgba(33, 33, 33, 1);
}
.workout-3-2-rgba {
  color: rgba(54, 54, 54, 1);
}
.workout-3-3-rgba {
  color: rgba(255, 198, 0, 1);
}
.workout-3-4-rgba {
  color: rgba(212, 212, 212, 1);
}
.workout-3-5-rgba {
  color: rgba(255, 255, 255, 1);
}

/* Color Theme Swatches in HSLA */
.workout-3-1-hsla {
  color: hsla(0, 0, 12, 1);
}
.workout-3-2-hsla {
  color: hsla(0, 0, 21, 1);
}
.workout-3-3-hsla {
  color: hsla(46, 100, 50, 1);
}
.workout-3-4-hsla {
  color: hsla(0, 0, 83, 1);
}
.workout-3-5-hsla {
  color: hsla(0, 0, 100, 1);
}
